/* abra o google fonts, selecione a font ubuntu e marque as opções 300, 400 e 500 
   em segida, selecione a opção "import" e copie o css
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: goldenrod;
    /* abra o google fontes, gere a fonte e copie para cá*/
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#img-forca{
    background-image: url(../img/forca.png);
    width: 234px;
    height: 274px;
    background-repeat: no-repeat;
}

#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.letras{
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #8b008b;
    color: #ffffff;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado{
    margin-top: 30px;
}
